.nav-bar__link {
  display: inline-block;
  margin-right: 15px;
  padding: 8px;
  text-decoration: none;
  color: #000000;

  &--active {
    background: #51b655;
    color: #000000;
    border-radius: 8px; // Añade un valor aquí para redondear las esquinas
  }
}
